/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  
}

/* Header - start */

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: lightblue;
}

.titulo {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.titulo:hover {
  color: blue;
}

.token {
  margin-left: 10px;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.token:hover {
  color: blue;
}

.icono {
  font-size: 1.5rem;
  color: black;
}

/* Header - end */

/* Main - start */

main {
  flex-grow: 1;
}

a{
  text-decoration: none;
  text-transform: none;
  color: white;
}
a:hover{
  color: black;
} 

h1{
  font-size: 2.5rem;
}

.texto {
  text-align: center;
  font-size: 1.5rem;
}

.contenedor {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 2rem;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  padding: 2px;
  margin: 1rem;
  justify-content: center;
  width: 300px;
  height: 400px;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1.2rem;
  
}

.imagen {
  width: 75%;
}

.contenedorBotones {
  display: flex;
  font-size: 1.5rem;
  padding: 5px;
}

.btn {
  
  background-color: red;
  font-size: 16px;
  width: 20px;
  border: 2px solid red;
  transition: 0.4s;
}

.btnColor{
  color: white;
}

.btnColor:hover{
  color: black;
}

.btn:hover {
  background-color: white;
}

.botonAgregar {
 
  color: white;
  background-color: red;
  font-size: 16px;
  width: 30%;
  border: 2px solid red;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.4s;
}

.botonAgregar:hover {
  color: black;
  background-color: white;
}

.null{
  display: none;
}

.botonCompra{
  
  color: white;
  background-color: red;
  font-size: 16px;
  width: 30%;
  margin-top: 10px;
  border: 2px solid red;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.4s;
}

.botonCompra:hover {
  color: black;
  background-color: white;
}

.btnDetalles {
    color: white;
    background-color: red;
    font-size: 16px;
    width: 50%;
    border: 2px solid red;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.4s;
    margin-top: 10px;
  }

.btnDetalles:hover{
    color: black;
    background-color: white;
}

.detalleContenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.detalles {
  display: flex;
  margin: 100px;
  max-width: 300px;
  justify-content: center;
}

.imagenDetalles{
    width: 100%;
}

.textoDetalles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    font-size: 2rem;
}

.loader{
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.nombre{
  text-align: center;
}

/* Carrito */

.contenedorCarrito{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  border: 2px solid black;
}

.imagenCarrito{
  width: 125px;
}

.tituloCarrito{
  font-size: 2rem;
}

.textoCarrito{
  font-size: 1.5rem;
}

.btnLimpiar{
  font-size: 1rem;
  margin-right: 5px;
  width: 10%;
  background-color: red;
  border: 2px solid red;
  text-align: center;
  transition: 0.4s;
}

.btnLimpiar:hover{
  color: black;
  background-color: white;
}

.contenedorVacio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem;
}

.btnVacio{
  font-size: 2rem;
  margin-right: 5px;
  width: 100%;
  background-color: red;
  border: 2px solid red;
  text-align: center;
  transition: 0.4s;
}

.btnVacio:hover{
  color: black;
  background-color: white;
}

.btnCompra{
  font-size: 1rem;
  margin: 10px;
  width: 100%;
  background-color: red;
  border: 2px solid red;
  text-align: center;
  transition: 0.4s;
}

.btnCompra:hover{
  color: black;
  background-color: white;
}

.botonesCarrito{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
}

.contenedorRecibo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5.5rem;
  font-size: 2rem;
}

/* Main - end */

/* Footer - start */

footer {
  font-size: 1.5rem;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerFooter{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}





/* Footer - end */
